[Unit]
Description=Apply undervolt settings

[Timer]
Unit=undervolt.service
# Wait 60 seconds after boot before first applying
OnBootSec=60
# Run every 800 seconds
OnUnitActiveSec=800

[Install]
WantedBy=multi-user.target
